div {
	/*border-color: black;
	border-width: 1px;*/
	/*border-style: solid;*/
	margin: 3px;
	padding: 1px;
	font-family: Roboto;
	font-size: 14px;
}

table {
	font-family: Roboto;
	font-size: 14px;
}

textarea {
	width: 90%;
	height: 50%;
}

#content_combat {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-auto-flow: column;
}

#content_combat > div {
	background-color: #dddddd;
}

#tabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

#tabs > div {
	background-color: #555555;
	font-family: Cinzel;
	font-size: 130%;
	font-weight: bold;
	color: #ffffff;
	padding-left: 3%;
}