div {
	/*border-color: black;
	border-width: 1px;*/
	/*border-style: solid;*/
	margin: 3px;
	padding: 1px;
	font-family: Roboto;
	font-size: 14px;
}

table {
	font-family: Roboto;
	font-size: 14px;
}

textarea {
	width: 90%;
	height: 87%;
	-moz-tab-size: 4; /* Firefox */
	-o-tab-size: 4; /* Opera */
	tab-size: 4;
}

#content_combat {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-auto-flow: column;
}

#content_combat > div {
	background-color: #dddddd;
}

#tabs {
	display: grid;
	grid-template-columns: auto auto auto auto;
}

#tabs > div {
	background-color: #555555;
	font-family: Cinzel;
	font-size: 130%;
	font-weight: bold;
	color: #ffffff;
	padding-left: 3%;
}

div.spellslot {
	display: inline-block;
	background-color: #dddddd;
}

.modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 10%;
}

.modal > div {
	background-color: white;
	width: 80%;
	margin: auto;
}

.modal-title {
	background-color: #555555;
	font-family: Cinzel;
	font-size: 130%;
	font-weight: bold;
	color: #ffffff;
	padding-left: 3%;
}

.strikethrough {
	text-decoration: line-through;
}